.container {
    position: absolute;
    width: 100%;
    top: calc(50% - 10vh);
}

.message {
    margin: 0 auto;
    padding: 5vh;
    border-radius: 5px;
    border: 1px dotted black;
    background-color: antiquewhite;
    width: 20vh;
}

@media screen and (max-width: 800px) {
    .message {
        width: 70%;
    }
}