.container {
    position: absolute;
    width: 100%;
    top: 50%;
}

.message {
    margin: 0 auto;
    padding: 5vmin;
    border-radius: 5px;
    border: 1px dotted black;
    background-color: antiquewhite;
    width: 20vmin;
}

@media screen and (max-width: 800px) {
    .message {
        width: 80%;
    }
}