body, html {
  margin: 0;
  background-color: #eee;
  user-select: none;
}

.App {
  text-align: center;
}

.upper-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

@media screen and (min-width: 800px) {
  .upper-block {
    width: 15%;
    margin: 0 auto;
    align-items: baseline;
  }
}